$color-background: #F6EDFF;
$color-primary: #D0BCFF;
$color-button-colored: #E0B6FF;
$color-button-not-colored: #FFF;
$color-diagrams:#8a20d5;
$color-diagrams-background:#FAEDFF;
$color-hidden-header:#E2D3FA;
$color-text-light: #FFF;
$color-text-dark: #000;
$color-text-middle:#494649;
$color-text-additional: #2E004E;



$content-width: 380px;