.days-forecast{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.day-forecast{
  background-color: $color-primary;
  border-radius: 18px;
  margin-bottom: 12px;
  .date-time{
    @include font($size:1.6rem, $height:2.4rem);
    grid-area: date;
    margin: 0;
  }
  .weather-visualization__text{
    @include font($size:1.6rem, $height:2.4rem);
    grid-area: text;
    text-align: start;
    color:$color-text-middle;
  }
  .temperature-range{
    @include font($size:1.6rem, $height:2.4rem);
    grid-area: temperature;
    text-align: end;
    margin: 0;
    padding: 0 10px;
    border-right: 2px solid $color-text-middle;
  }
  .weather-visualization__img{
    grid-area: img;
    width: 54px;
    margin: auto;
  }
  .button_arrow{
    grid-area: arrow;
  }
}
.day-forecast__main-info{
  display: grid;
  grid-template-areas:
    "date temperature img arrow"
    "text temperature img arrow";
  grid-template-columns: 6fr 1fr 2fr 1fr;
  align-items: start;
}

.detailed-info__item_colored{
  background-color: $color-background;
}

.day-forecast__additional-info{
  padding: 15px 18px;
}
.day-forecast__main-info{
  padding: 15px 18px;
}

.day-forecast__additional-info {
  display: block;
  animation: show 1s;
}

.day-forecast:not(.day-forecast_show) .day-forecast__additional-info {
  display: none;
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}